/* Orianna Schultz  11/05/2023*/

body {
  background-color: darkslateblue;
  display: grid;
  grid-template-columns: '20% 60% 20%';
  grid-template-areas: 
  'head head head'
  'options options options'
  '. main .'
  'foot foot foot';
}

header {
  text-align: center;
  grid-area: head;
  
}

.difficulty {
  grid-area: options;
  text-align: center;
}

button {
  height: 30px;
  margin: 5px;
  background-color: lightskyblue;
  border-radius: 5px;
  border: 4px slateblue groove;
}

#gameSpace {
  grid-area: main;
  text-align: center;
  display: grid;
  background-color: slateblue;
  width: 600px;
  justify-self: center;
}

.gameRow {
  display: flex;
  justify-content: space-around;
  background-color: lightskyblue;
  text-align: center;
}


input {
  width: 40px;
  height: 40px;
  background-color: white;
  color: blue;
  text-align: center;
  font-size: 45px;
  border: groove 5px darkblue;
  margin: 5px 0px;
  
}

span {
  border-right: 5px darkblue groove;
}

footer {
  grid-area: foot;
  text-align: center;
  margin: 10px auto;
  height: 25px;
  font-size: large;
}
/* this seems to be the only way online I could find to hide arrows on number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
